[Desktop Entry]
Name=Microwave Man
Comment=Play as an appliance.
Categories=Game;
Icon=dev.project516.titledgames.microwave-man
Exec=godot-runner
Type=Application
Terminal=false